<%= form_for @lead, html: { id:'lead-form' } do |f| %>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class:'form-control', autofocus:true %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class:'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email, 'Email address' %>
      <%= f.email_field :email, class:'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :phone, 'Phone (optional)' %>
      <%= f.telephone_field :phone, class:'form-control' %>
    </div>

    <div class="submit">
      <%= f.submit 'Fetch my brochure!', class:'button button-small' %>
    </div>

<% end %>