<div id="hero">

  <%= render 'shared/hero' %>

</div>

<div id="features">

  <%= render 'shared/features' %>

</div>

<div id="pricing">

  <%= render 'shared/reasons' %>

</div>

<div id="slider">

  <%= render 'shared/travel' %>

</div>

<div id="testimonials">

  <%= render 'shared/testimonials' %>

</div>

<div id="cta">

  <%= render 'shared/cta' %>

</div>

<div id="clients">

  <%= render 'shared/partners' %>

</div>
