<div class="row">

  <div class="col-md-4 feature">
    <%= image_tag 'circle-icons/one-color/denied.png', alt:'prepare for life image' %>
    <strong>No majors, minors, and specializations</strong>
    <p>Undertake a 16-month, biblically centered liberal arts curriculum that prepares you for life.</p>
  </div>

  <div class="col-md-4 feature">
    <%= image_tag 'circle-icons/one-color/takeoff.png', alt:'study abroad image' %>
    <strong>Global</strong>
    <p>Study Fine Arts in Rome, Venice, Florence, and Assisi.</p>
  </div>

  <div class="col-md-4 feature">
    <%= image_tag 'circle-icons/one-color/x.png', alt:'socratic discussion image' %>
    <strong>No lectures or textbooks</strong>
    <p>
      The Bible and great literary classics replace contemporary textbooks.  Socratic discussions
      replace lectures.
    </p>
  </div>

</div>

<div class="row">

  <div class="col-md-4 feature">
    <%= image_tag 'circle-icons/one-color/lightbulb.png', alt:'critical thinking image' %>
    <strong>Critical thinking</strong>
    <p>Apply principles of logic and disciplines useful for critical evaluation.</p>
  </div>

  <div class="col-md-4 feature">
    <%= image_tag 'circle-icons/one-color/global.png', alt:'authentic community image' %>
    <strong>Authentic community</strong>
    <p>Belong to a group of 20-30 colleagues, 2 faculty, and a mentor for your entire 16-month experience.</p>
  </div>

  <div class="col-md-4 feature">
    <%= image_tag 'circle-icons/one-color/heart.png', alt:'apprenticeship education' %>
    <strong>Apprenticeship</strong>
    <p>Practice daily what you are taught.</p>
  </div>

</div>