<h3 class="title">Upcoming Events</h3>

<% @events.each do |event| %>

    <article class="events-item row page-row">

        <div class="date-label-wrapper col-md-3 col-sm-4 col-xs-4">

            <p class="date-label">
              <%= content_tag :span, event.date.strftime('%^b'), class:'month' %>
              <%= content_tag :span, event.date.strftime('%e'), class:'date-number' %>
            </p>

        </div>

        <div class="details col-md-9 col-sm-8 col-xs-8">

          <%= content_tag :h5, event.name, class:'title' %>

          <p class="time text-muted">
            <%= event.start_time %> - <%= event.end_time %>
            <%= tag :br %>
            <%= event.place %>
          </p>

        </div>

    </article>

<% end %>