<div class="container">

  <div class="row header">
    <div class="col-md-12">
      <h2>Take the road less traveled.</h2>
    </div>
  </div>

  <div class="row feature">
    <div class="col-md-6 info">
      <h4>Ask and answer the biggest questions humanity has ever encountered...</h4>
      <p>
        This is just some filler text.  This is just some filler text. This is just some filler text.
      </p>
    </div>
    <div class="col-md-6 image" %>
      <%= image_tag 'focus-01.png', class:'img-responsive' %>
    </div>
  </div>

  <%= content_tag :div, nil, class:'divider' %>

  <div class="row feature backwards">
    <div class="col-md-6 info">
      <h4>...with the best minds the Western tradition has ever produced...</h4>
      <p>
        This is just some filler text.  This is just some filler text. This is just some filler text.
      </p>
    </div>
    <div class="col-md-6 image" %>
      <%= image_tag 'biblical_narrative.png', class:'img-responsive' %>
    </div>
  </div>

  <%= content_tag :div, nil, class:'divider' %>

  <div class="row feature">
    <div class="col-md-6 info">
      <h4>...all in the context of the greatest story ever told -- the Bible</h4>
      <p>
        This is just some filler text.  This is just some filler text. This is just some filler text.
      </p>
    </div>
    <div class="col-md-6 image" %>
      <%= image_tag 'focus-01.png', class:'img-responsive' %>
    </div>
  </div>

</div>