<div class="container">

  <div class="row header">
    <div class="col-md-12">
      <h2>Take the road less traveled.</h2>
    </div>
  </div>

  <div class="row feature">
    <div class="col-md-6 info">
      <h4>Ask and answer the biggest questions humanity has ever encountered…
      </h4>
      <p>
        The college core ought to pursue life’s great questions if students are to formulate a framework for
        their everyday existence. We offer a graduate style environment where students take a greater
        role in the classroom. When discussing the great questions, your input is just as important as your
        professor’s.
      </p>
    </div>
    <figure class="col-md-6 image">
      <%= image_tag 'questions.jpg', class:'img-responsive img-rounded', alt:'ask the greatest questions image' %>
    </figure>
  </div>

  <%= content_tag :div, nil, class:'divider' %>

  <div class="row feature backwards">
    <div class="col-md-6 info">
      <h4>...with the best minds civilization has ever produced...</h4>
      <p>
        The college core ought to include the best works available if it is to develop the best students
        possible. We offer a Great Books curriculum where you, your colleagues and your faculty dialogue
        with the greatest that have ever been thought and said.
      </p>
    </div>
    <figure class="col-md-6 image" %>
      <%= image_tag 'great_minds.jpg', size:'371x246', class:'img-responsive img-rounded', alt:'greatest minds image' %>
    </figure>
  </div>

  <%= content_tag :div, nil, class:'divider' %>

  <div class="row feature">
    <div class="col-md-6 info">
      <h4>...all in the context of the greatest story ever told -- the Bible.</h4>
      <p>
        The college core ought to carry a right posture before the Creator if students are to have a right view
        of His creation. We consider the Bible the greatest 'great book' of all and the ultimate
        authoritative source. All subjects are tied into God’s Story and designed to give you a biblical
        worldview perspective on all of life.
      </p>
    </div>
    <figure class="col-md-6 image" %>
      <%= image_tag 'bible2.jpg', size:'371x246', class:'img-responsive img-rounded', alt:'greatest story every told bible image' %>
    </figure>
  </div>

</div>