<div class="container">

  <div class="row header">
    <div class="col-md-12">
      <h3>Three great reasons to start college with Rivendell</h3>
    </div>
  </div>
  <div class="row charts">

    <div class="col-md-4">
      <div class="chart first">
        <%= content_tag :div, 'Community', class:'plan-name' %>
        <div class="specs">
          <div class="spec">
            <%= content_tag :span, 'AA', class:'variable' %>
            degree
          </div>
          <div class="spec">
            <%= content_tag :span, 'Foundations', class:'variable' %>
            for life
          </div>
        </div>
        <%= link_to content_tag(:span, 'Learn more'), '#', class:'btn-signup button-clear' %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="chart">
        <%= content_tag :div, @solution_2_name, class:'plan-name' %>
        <div class="specs">
          <div class="spec">
            <%= content_tag :span, 'AA', class:'variable' %>
            degree
          </div>
          <div class="spec">
            <%= content_tag :span, '16', class:'variable' %>
            months to complete
          </div>
          <div class="spec">
            <%= content_tag :span, 'Foundations', class:'variable' %>
            for life
          </div>
          <div class="spec">
            <%= content_tag :span, 'Study abroad', class:'variable' %>
            included
          </div>
        </div>
        <%= link_to content_tag(:span, 'Learn more'), '#', class:'btn-signup button-clear' %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="chart last">
        <%= content_tag :div, @solution_3_name, class:'plan-name' %>
        <div class="specs">
          <div class="spec">
            <%= content_tag :span, 'BA', class:'variable' %>
            degree
          </div>
          <div class="spec">
            <%= content_tag :span, '24', class:'variable' %>
            months to complete
          </div>
          <div class="spec">
            <%= content_tag :span, 'Foundations', class:'variable' %>
            for life
          </div>
          <div class="spec">
            <%= content_tag :span, 'Study abroad', class:'variable' %>
            included
          </div>
        </div>
        <%= link_to content_tag(:span, 'Learn more'), '#', class:'btn-signup button-clear' %>
      </div>
    </div>

  </div>

</div>