<div class="container">

  <div class="row header">
    <div class="col-md-12">
      <h3>Recommended by Christian leaders:</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <div class="testimonial pull-right">
        <div class="quote">
          "Based upon the curriculum, vision, and integrity of the program as well as the excellence of those serving in it,
          I wholeheartedly encourage any Christian student wanting to prepare for an impactful life to
          strongly consider the Rivendell Program as the first two years of their college training.”
          <div class="arrow-down">
            <%= content_tag :div, nil, class:'arrow' %>
            <%= content_tag :div, nil, class:'arrow-border' %>
          </div>
        </div>
        <div class="author">
          <%= image_tag 'RandySims_bw1.jpg', class:'pic' %>
          <%= content_tag :div, 'Randy Sims', class:'name' %>
          <%= content_tag :div, 'Worldview Academy', class:'company' %>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="testimonial">
        <div class="quote">
          Education at its best is learning to learn. The Rivendell Program has been established around this
          approach to education, and I heartily endorse this program of study. The old cliché of “teaching kids
          how to think, not what to think” is not a cliché – it actually happens."
          <div class="arrow-down">
            <%= content_tag :div, nil, class:'arrow' %>
            <%= content_tag :div, nil, class:'arrow-border' %>
          </div>
        </div>
        <div class="author">
          <%= image_tag 'stonestreet.jpg', class:'pic' %>
          <%= content_tag :div, 'John Stonestreet', class:'name' %>
          <%= content_tag :div, 'Summit Ministries', class:'company' %>
        </div>
      </div>
    </div>

  </div>

</div>