<div class="project">

  <%= content_tag :h3, event.name %>

  <div class="row">

    <figure class="col-md-6 screen">
      <%= cl_image_tag event.photo, class:'img-responsive', alt: "#{event.speaker} photo" %>
      <%= content_tag :figcaption, event.speaker, class:'m-t-sm' %>
    </figure>

    <div class="col-md-6 description">

      <p><strong>Summary:  </strong><%= sanitize(event.summary) %></p>

      <p><strong>Date:  </strong><%= event.date %></p>

      <p><strong>Time:  </strong><%= event.time %></p>

      <p><strong>Location:  </strong><%= event.venue %></p>

      <p>
        <strong>Address:</strong><br />

        <%= event.address1 %><br />

        <% if event.address2.present? %>

            <%= event.address2 %><br />

        <% end %>

        <%= event.city %>, <%= event.state %>  <%= event.zip_code %>
      </p>

    </div>

  </div>

  <%= content_tag :div, nil, class:'divider' %>

  <div class="visit">
    <%= link_to 'Learn more', event, class:'button' %>
  </div>

</div>