<div class="project">

  <%= content_tag :h3, event.name %>

  <div class="row">

    <figure class="col-md-6 screen">
      <%= cl_image_tag event.photo, class:'img-responsive', alt: "#{event.speaker} photo" %>
      <%= content_tag :figcaption, event.speaker, class:'m-t-sm' %>
    </figure>

    <div class="col-md-6 info">
      <%= content_tag :p, sanitize(event.description), class:'description' %>
    </div>

  </div>

  <%= content_tag :div, nil, class:'divider' %>

  <div class="visit">
    <%= link_to 'Learn more', event, class:'button' %>
  </div>

</div>