<div class="row">

  <div class="col-md-6">

    <%= form_for @contact, html: { id:'contact-form', class:'m-t-md' } do |f| %>

        <div class="form-group">
          <%= f.text_field :name, class:'form-control', placeholder:'Full name', autofocus:true %>
        </div>

        <div class="form-group">
          <%= f.email_field :email, class:'form-control', placeholder:'Email address' %>
        </div>

        <div class="form-group">
          <%= f.telephone_field :phone, class:'form-control', placeholder:'Phone number' %>
        </div>

        <div class="form-group">
          <%= f.text_field :city, class:'form-control', placeholder:'City' %>
        </div>

        <div class="form-group">
          <%= f.select :state, options_for_select(us_states), { prompt:'Select a state' }, { class:'form-control' } %>
        </div>

        <div class="form-group">
          <%= f.select :grad_year, options_for_select(Contact::GRAD_YEARS, 2015), {}, { class:'form-control' } %>
        </div>

        <div class="form-group">
          <%= f.select :source, options_for_select(Contact::SOURCES), { prompt: 'How did you learn of Rivendell?' }, { class:'form-control' } %>
        </div>

        <div class="form-group">
          <%= f.text_field :referrer, class:'form-control', placeholder:'Who referred you to Rivendell?' %>
        </div>

        <div class="form-group">
          <%= f.text_field :topic, class:'form-control', placeholder:'Topic' %>
        </div>

        <div class="form-group">
          <%= f.text_area :message, class:'form-control', rows:5, placeholder:'Message' %>
        </div>

        <div class="form-group">
          <%= f.submit 'Send message', class:'btn btn-theme' %>
        </div>

    <% end %>

  </div>

</div>
