<div class="col-md-6 info">

  <h4>Financial Aid</h4>

  <p>
    At San Diego Christian’s Rivendell Program, our first priority is to offer a superior education; our next
    priority is to make it affordable. We are doing everything we can to keep costs low while holding fast to
    high standards. The Rivendell program utilizes outside donors and partnerships to offer financial aid to
    our students who demonstrate individual need. Our admissions counselors will work with you to build a
    financial aid plan specific to you and your family’s situation. There are numerous financial sources that
    will help make the Rivendell program affordable:
  </p>

</div>

<div class="col-md-6 image">
  <%= image_tag 'finaid.jpg', class:'img-responsive img-rounded' %>
</div>

<div class="col-md-12 info">

  <ol>
    <li>Federal financial aid (FAFSA school code: 012031)</li>
    <li>Minnesota financial aid (FAFSA school code: 012031)</li>
    <li>Parent contribution</li>
    <li>Student savings</li>
    <li>Private loans</li>
    <li>Rivendell institutional aid</li>
    <li>Affordable payment plan options</li>
    <li>Lifetime Learning tax credits</li>
    <li>Hope/American Opportunity tax credits</li>
  </ol>

  <h4>Insitutional aid for programs starting in Fall 2015</h4>

  <div class="well">

    <div class="row">
      <div class="col-md-4">
        <p>
          <strong>Referral Scholarship</strong> (Uncapped) - An accepted student who refers another student who
          attends will each be awarded a $1,000 scholarship. There are no caps on recruiting. Contact your
          admissions counselor for more details.
        </p>
      </div>

      <div class="col-md-4">
        <p>
          <strong>Referral Scholarship</strong> (Up to $2,000 total) - We will match up to $2,000 of funds given
          by the church. Students should apply for the grant when completing the institutional aid application.
        </p>
      </div>

      <div class="col-md-4">
        <p>
          <strong>Campus Visit Scholarship</strong> ($1,000 total) - Awarded to any student who visits campus
          prior to or during the admissions process. Visits must be coordinated through the Admissions Office.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p>
          <strong>Affiliation Award</strong> ($1,000 total) - Granted to students who demonstrate completion of a
          program/camp of one of our partners. Eligible organizations are Summit Ministries, Worldview Academy,
          Classical Conversations, YWAM, and CiRCE Institute.
        </p>
      </div>

      <div class="col-md-4">
        <p>
          <strong>The Norment Scholarship</strong> (Up to $6,000 total) - Given by Bobby and Jean Norment, this
          grant is awarded to students on a needs-basis who demonstrate passion and commitment to the mission and vision of
          the Rivendell program.
        </p>
      </div>

      <div class="col-md-4">
        <p>
          <strong>Early Acceptance Scholarship</strong> ($1,000 total) - Granted to students who submit all application
          components and are granted acceptance prior to October 31 for Spring Semester.
        </p>
      </div>
    </div>

  </div>

  <div class="row">

    <h4>Additional Resources</h4>

    <ul>
      <%= content_tag :li, link_to('www.collegeanswer.com', 'https://www.salliemae.com/plan-for-college/', target:'_blank') %>
      <%= content_tag :li, link_to('www.fastweb.com', 'http://www.fastweb.com', target:'_blank') %>
      <%= content_tag :li, link_to('www.finaid.org', 'http://www.finaid.org', target:'_blank') %>
      <%= content_tag :li, link_to('www.collegeanswer.com', 'https://studentaid.ed.gov/sa/', target:'_blank') %>
    </ul>

  </div>

</div>