<section id="slider">
  <div class="container">

    <div class="row header">
      <div class="col-md-12">
        <h3>About San Diego Christian College (SDC)</h3>

        <p>
          San Diego Christian College provides an excellent liberal arts education that
          thrives on making the Bible come alive. Our faculty and administration desire each
          and every student to purposefully seek after God in all they do, to pursue an
          incredible educational experience and to learn how to become the next generation
          of Godly leaders.  The Rivendell Program is an accredited program of San
          Diego Christian.
        </p>

        <p>
          SDC’s main campus is located in beautiful Southern California, where you can earn
          your bachelor’s degree after completing your first 16-months of college in our
          Exceptional College Core Program located in Minnesota!
        </p>

        <p>
          SDC’s  Minnesota Campus is located in Bloomington, a suburb of the Twin Cities
          metropolitan area. Our striking 40-acre campus sits on a wooded bluff just north
          of the Minnesota River and just west of the Minnesota Valley Country Club.
        </p>

        <p>
          Our city, Bloomington, is the fifth largest in Minnesota, offering a great balance
          of urban convenience and open spaces. While it is home to the country’s largest
          shopping center – the Mall of America – and the Minneapolis/St. Paul International
          Airport, it also features more than 100 parks, and just as many lakes and ponds.
        </p>

        <p>
          Learn more about
          <%= link_to "San Diego Christian’s Mission and Vision", 'http://sdcc.edu/about-sdcc/mission-and-values',
                      target:'_blank' %>.
        </p>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="flexslider">
          <ul class="slides">
            <%= content_tag :li, image_tag('aboutus1.jpg', alt:'Rivendell SDCC Minnesota Campus') %>
            <%= content_tag :li, image_tag('aboutus2.jpg', alt:'Rivendell SDCC Minnesota Campus') %>
            <%= content_tag :li, image_tag('aboutus3.jpg', alt:'Rivendell SDCC Minnesota Campus') %>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="info">
  <div class="container">

    <div class="row">

      <div class="col-md-6">
        <h1>Rivendell Program Mission</h1>
        <p>
          To bring clarity and stability to young men and women caught in an age of confusion and uncertainty
          by providing them the intellectual, spiritual, moral, social, emotional, and physical foundations
          and support necessary to excel in college and in life. We aim to build lives so compelling, so
          transformative, so counter-cultural that the world is stirred to ask once again, “Who is this Jesus?”
        </p>
      </div>

      <div class="col-md-6">
        <h1>Rivendell Program Vision</h1>
        <p>
          To restore all things to Christ by imparting the biblical worldview to thousands of students in
          multiple locations in America and around the world who will go on to serve God and mankind in every
          arena of life.
        </p>
      </div>

    </div>

    <div class="row stats">

      <div class="col-lg-4 col-sm-6">
        <strong>15:1</strong> student to faculty ratio
      </div>

      <div class="col-lg-4 col-sm-3">
        <strong>9</strong> cohorts strong
      </div>

      <div class="col-lg-4 col-sm-3">
        <strong>160</strong> graduates
      </div>

    </div>

    <div class="row team">

      <figure class="col-md-12 team-row">
        <%= image_tag 'staff/lorri-229x300.jpg', alt:'Lorri Ague photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Lorri Ague - Dean of Adult & Professional Studies' } %>
        <%= image_tag 'staff/evans_bev2-229x300.jpg', alt:'Bev Evans photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Bev Evans - Director of Hospitality & Cultural Events' } %>
        <%= image_tag 'staff/evans_robert-229x300.jpg', alt:'Robert Evans photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Robert Evans - Student Success Coach' } %>
        <%= image_tag 'staff/Hurlbut_Rick-229x300.jpg', alt:'Rick Hurlbut photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Rick Hurlbut - Faculty' } %>
        <%= image_tag 'staff/ingle_jeffrey2-229x300.jpg', alt:'Jeff Ingle photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Jeffrey Ingle - Faculty' } %>
        <%= image_tag 'staff/kasperek_kelli2-229x300.jpg', alt:'Kelli Kasperek photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Kelli Kasperek - Admissions Counselor' } %>
      </figure>

      <figure class="col-md-12 team-row">
        <%= image_tag 'staff/mauser_bj3-229x300.jpg', size: '90x118', alt:'BJ Mauser photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Bernard James Mauser - Faculty' } %>
        <%= image_tag 'staff/mcconnell_donald-229x300.jpg', alt:'Donald McConnell photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Donald McConnell - Faculty' } %>
        <%= image_tag 'staff/mikel_elaine2-229x300.jpg', alt:'Elaine Mikel photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Elaine Mikel - Mentor' } %>
        <%= image_tag 'staff/miller_bill2-229x300.jpg', alt:'Bill Miller photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Bill Miller - Faculty' } %>
        <%= image_tag 'staff/norment_davis2-229x300.jpg', alt:'Davis Norment photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Davis Norment - Faculty' } %>
        <%= image_tag 'staff/norment_jean2-229x300.jpg', alt:'Jean Norment photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Jean Norment - Director of Mentoring' } %>
      </figure>

      <figure class="col-md-12 team-row">
        <%= image_tag 'staff/poarch_jason-229x300.jpg', alt:'Jason Poarch photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Jason Poarch - Director of Business Development & Partner Relations | Faculty' } %>
        <%= image_tag 'staff/reid_david-229x300.jpg', alt:'Dave Reid photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Dave Reid - Faculty' } %>
        <%= image_tag 'staff/petree_alex-229x300.jpg', alt:'Alexandra Tousley photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Alexandra Tousley- Admissions Counselor' } %>
        <%= image_tag 'staff/williams_jordan-229x300.jpg', alt:'Jordan Williams photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Jordan Williams - Student Life Coordinator' } %>
        <%= image_tag 'staff/yackel_amanda2-229x300.jpg', alt:'Amanda Yackel photo',
                      data: { toggle:'tooltip', placement:'top', title: 'Amanda Yackel - Student Success Coach' } %>
      </figure>

    </div>

  </div>
</section>

<section id="cta">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="wrapper clearfix">
          <h4>Learn more about the Rivendell Program and our Minnesota campus:</h4>
          <%= link_to 'Request a brochure', new_lead_path, class:'button button-small' %>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="accreditation">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1>Accreditation</h1>
        <p>
          San Diego Christian College is accredited by the Senior Commission of the Western Association of
          Schools and Colleges (WASC). WASC is the regional accrediting body authorized by the U.S. Department
          of Education to ensure the academic integrity of its member institutions.
        </p>
        <p>
          Accreditation means that the Commission has determined that the College offers educational opportunities
          in a manner consistent with Commission standards, and that it is likely to continue to do so.
        </p>
        <p>
          <i>Direct inquiries to:</i><br /><br />
          WASC<br />
          985 Atlantic Avenue, Suite 100</br />
          Alameda, CA  94501<br />
          Phone: (510) 748-9001
        </p>
        <p>
          San Diego Christian College is registered as a Private Institution with the Minnesota Office of Higher
          Education pursuant to sections 136A.61 to 136A.71. Registration is not an endorsement of the institution.
          Credits earned at the institution may not transfer to all other institutions.
        </p>
      </div>
    </div>

  </div>
</section>
