<div id="tabs" class="tabs-smaller-margin">
  <div class="container">

    <div class="row header">
      <h3>Journey Through the College Core</h3>
      <p><strong>8 ways</strong> you experience the liberal arts with the SDC Rivendell Program:</p>
    </div>

    <div class="row">
      <div class="col-md-12 tabs-wrapper">

        <ul class="nav nav-tabs">
          <%= content_tag :li, link_to('Christianly', '#christianly', data: { toggle:'tab' }), class:'active' %>
          <%= content_tag :li, link_to('Sequentially', '#sequentially', data: { toggle:'tab' }) %>
          <%= content_tag :li, link_to('Communally', '#communally', data: { toggle:'tab' }) %>
          <%= content_tag :li, link_to('Globally', '#globally', data: { toggle:'tab' }) %>
          <%= content_tag :li, link_to('Critically', '#critically', data: { toggle:'tab' }) %>
          <%= content_tag :li, link_to('Classically', '#classically', data: { toggle:'tab' }) %>
          <%= content_tag :li, link_to('Socratically', '#socratically', data: { toggle:'tab' }) %>
          <%= content_tag :li, link_to('Holistically', '#holistically', data: { toggle:'tab' }) %>
        </ul>

        <div class="tab-content">

          <div id="christianly" class="tab-pane fade in active">     <!-- CHRISTIANLY -->
            <div class="col-md-6 info">
              <h4>Learn the college core <strong><i>Christianly</i></strong></h4>
              <p>Study all subjects from a biblical worldview perspective.</p>
              <ul>
                <li>Hear God's voice in every discipline</li>
                <li>Connect life with all of scripture</li>
                <li>Buttress a defense of your faith</li>
              </ul>
              <%= content_tag :p, academics_read_more_link('christianly') %>
            </div>
            <div class="col-md-6 image">
              <%= image_tag 'christianly.jpg', width:'359', class:'img-responsive img-rounded' %>
            </div>
          </div>

          <div id="sequentially" class="tab-pane fade">     <!-- SEQUENTIALLY -->
            <div class="col-md-6 image">
              <%= image_tag 'sequential.jpg', width:'359', class:'img-responsive img-rounded' %>
            </div>
            <div class="col-md-6 info">
              <h4>Progress through the college core <strong><i>sequentially</i></strong></h4>
              <p>Study the liberal arts one subject at a time in the flow of the biblical narrative.</p>
              <ul>
                <li>Generate a love for learning</li>
                <li>Intake the unity of knowledge</li>
              </ul>
              <%= content_tag :p, academics_read_more_link('sequentially') %>
            </div>
          </div>

          <div id="communally" class="tab-pane fade">     <!-- COMMUNALLY -->
            <div class="col-md-6 info">
              <h4>Experience the college core <strong><i>communally</i></strong></h4>
              <p>
                Belong to a cohort of 20-30 colleagues, 2 faculty, and a mentor, and remain together
                for the entire program.
              </p>
              <ul>
                <li>Experience unparalleled support</li>
                <li>Broaden your capacity to love unconditionally</li>
                <li>Foster deep and meaningful relationships with peers and faculty</li>
              </ul>
              <%= content_tag :p, academics_read_more_link('communally') %>
            </div>
            <div class="col-md-6 image">
              <%= image_tag 'communally.jpg', width:'359', class:'img-responsive img-rounded' %>
            </div>
          </div>

          <div id="globally" class="tab-pane fade">     <!-- GLOBALLY -->
            <div class="col-md-6 image">
              <%= image_tag 'globally.jpg', width:'359', class:'img-responsive img-rounded' %>
            </div>
            <div class="col-md-6 info">
              <h4>Journey through the college core <strong><i>globally</i></strong></h4>
              <p>Study the fine arts in Rome, Florence, Venice, and Assisi.  Need we say more?</p>
              <ul>
                <li>Experience cross-cultural living</li>
                <li>Create a connoisseur's eye for beauty</li>
                <li>Increase aesthetic sensitivity</li>
              </ul>
              <%= content_tag :p, academics_read_more_link('globally') %>
            </div>
          </div>

          <div id="critically" class="tab-pane fade">     <!-- CRITICALLY -->
            <div class="col-md-6 info">
              <h4>Think through the college core <strong><i>critically</i></strong></h4>
              <p>Learn a critical thinking method and apply it every day to every subject and assignment.</p>
              <ul>
                <li>Learn how to learn</li>
                <li>Generate a cultural critique</li>
                <li>Transform from a passive think to a master thinker</li>
              </ul>
              <%= content_tag :p, academics_read_more_link('critically') %>
            </div>
            <div class="col-md-6 image">
              <%= image_tag 'critically.jpg', width:'359', class:'img-responsive img-rounded' %>
            </div>
          </div>

          <div id="classically" class="tab-pane fade">     <!-- CLASSICALLY -->
            <div class="col-md-6 image">
              <%= image_tag 'classically.jpg', width:'359', class:'img-responsive img-rounded' %>
            </div>
            <div class="col-md-6 info">
              <h4>Approach the college core <strong><i>classically</i></strong></h4>
              <p>Learn from the greatest minds who ever lived.</p>
              <ul>
                <li>Study under the original authors of the 'Great Books'</li>
                <li>Have a little genius rub off on you</li>
              </ul>
              <%= content_tag :p, academics_read_more_link('classically') %>
            </div>
          </div>

          <div id="socratically" class="tab-pane fade">     <!-- SOCRATICALLY -->
            <div class="col-md-6 info">
              <h4>Discuss the college core <strong><i>socratically</i></strong></h4>
              <p>Question and discuss subjects instead of listening to lectures.</p>
              <ul>
                <li>Learn actively</li>
                <li>Listen</li>
                <li>Surface truth</li>
              </ul>
              <%= content_tag :p, academics_read_more_link('socratically') %>
            </div>
            <div class="col-md-6 image">
              <%= image_tag 'socratically.jpg', width:'359', class:'img-responsive img-rounded' %>
            </div>
          </div>

          <div id="holistically" class="tab-pane fade">     <!-- HOLISTICALLY -->
            <div class="col-md-6 image">
              <%= image_tag 'holistically.jpg', width:'359', class:'img-responsive img-rounded' %>
            </div>
            <div class="col-md-6 info">
              <h4>Practice the college core <strong><i>holistically</i></strong></h4>
              <p>You are more than a brain.  You are intellectual, spiritual, moral, social, and emotional.</p>
              <ul>
                <li>Develop habits of character</li>
                <li>Polish life skills essential for success</li>
                <li>Become a Student of Honor<sup><small>TM</small></sup></li>
              </ul>
              <%= content_tag :p, academics_read_more_link('holistically') %>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<div id="second-option">
  <div class="container">

    <div class="row header">
      <div class="col-md-12">
        <h2>Imagine a college program that prepares you for life!</h2>
        <p>SDC Rivendell equips you with with the foundations to success in college and in life.</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 feature">
        <%= image_tag 'circle-icons/one-color/denied.png' %>
        <strong>No majors, minors, and specializations</strong>
        <p>Undertake a 16-month, biblically centered liberal arts curriculum that prepares you for life.</p>
      </div>

      <div class="col-md-4 feature">
        <%= image_tag 'circle-icons/one-color/takeoff.png' %>
        <strong>Global</strong>
        <p>Study Fine Arts in Rome, Venice, Florence, and Assisi.</p>
      </div>

      <div class="col-md-4 feature">
        <%= image_tag 'circle-icons/one-color/x.png' %>
        <strong>No lectures or textbooks</strong>
        <p>
          The Bible and great literary classics replace contemporary textbooks.  Socratic discussions
          replace lectures.
        </p>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4 feature">
        <%= image_tag 'circle-icons/one-color/lightbulb.png' %>
        <strong>Critical thinking</strong>
        <p>Apply principles of logic and disciplines useful for critical evaluation.</p>
      </div>

      <div class="col-md-4 feature">
        <%= image_tag 'circle-icons/one-color/global.png' %>
        <strong>Authentic community</strong>
        <p>Belong to a group of 20-30 colleagues, 2 faculty, and a mentor for your entire 16-month experience.</p>
      </div>

      <div class="col-md-4 feature">
        <%= image_tag 'circle-icons/one-color/heart.png' %>
        <strong>Apprenticeship</strong>
        <p>Practice daily what you are taught.</p>
      </div>

    </div>

  </div>
</div>