<section id="hero">

  <div class="container">

    <h1 class="hero-text animated fadeInDown">
      Instill meaning<br />back into education
    </h1>

    <p class="sub-text animated fadeInDown">
      Study the gen eds like no one else.
    </p>

    <div class="cta animated fadeInDown">
      <%= link_to 'Request a brochure', new_lead_path, class:'button-outline' %>
      <%= link_to 'Apply now', admissions_apply_now_path, class:'button' %>
    </div>

    <%= content_tag :figure, nil, class:'img animated fadeInRight' %>

  </div>

</section>

<section id="features">

  <%= render 'shared/features' %>

</section>

<section id="pricing">

  <%= render 'shared/reasons' %>

</section>

<section id="slider">

  <%= render 'shared/travel' %>

</section>

<section id="testimonials">

  <%= render 'shared/testimonials' %>

</section>

<section id="cta">
  <p>Take the first step on your 16-month journey of a lifetime!</p>
  <%= link_to 'Apply now', admissions_apply_now_path %>
</section>

<section id="clients">

  <%= render 'shared/partners' %>

</section>
