<section id="tabs" class="tabs-smaller-margin">
  <div class="container">

    <div class="row header">
      <h3>Looking for a college where student life is part of the curriculum?</h3>
    </div>

    <div class="row">
      <div class="col-md-12 tabs-wrapper">

        <ul class="nav nav-tabs">
          <%= content_tag :li, link_to('Academic Facilities', '#academic-facilities', data: { toggle:'tab' }), class:'active' %>
          <%= content_tag :li, link_to('Dining Facilities', '#dining-facilities', data: { toggle:'tab' }) %>
          <%= content_tag :li, link_to('Student Housing', '#student-housing', data: { toggle:'tab' }) %>
        </ul>

        <div class="tab-content">

          <div id="academic-facilities" class="tab-pane fade in active">  <!-- ACADEMIC FACILITIES -->
            <div class="col-md-6 info">
              <h4>Socrates would be jealous of your classroom!</h4>
              <p>
                Each room can hold from 20 to 30 students, and is equipped with high-speed wireless internet,
                and various audio-video capabilities.
              </p>
            </div>
            <figure class="col-md-6 image">
              <%= image_tag 'student_life/academic_facilities.jpg', class:'img-responsive img-rounded', alt:'socratic discussion image' %>
            </figure>
          </div>

          <div id="dining-facilities" class="tab-pane fade">  <!-- DINING FACILITIES -->
            <figure class="col-md-6 image">
              <%= image_tag 'student_life/dining_facilities.jpg', class:'img-responsive img-rounded', alt:'authentic community image' %>
            </figure>
            <div class="col-md-6 info">
              <h4>Break bread with your classmates three times a day.</h4>
              <p>
                Campus dining offers wide windows, cozy fireplaces, and tables for 12 to 4—which always can be rearranged
                to make room for more. Perhaps you’ll gather with others from your dorm, corhort, or SDC Rivendell staff.
                Dine with a professor, meet with a mentor, or perhaps a last-minute table shared will lead to a whole new
                friendship.
              </p>
            </div>
          </div>

          <div id="student-housing" class="tab-pane fade">  <!-- STUDENT HOUSING -->
            <div class="col-md-6 info">
              <h4>Live in community with your fellow classmates.</h4>
              <p>
                Students experience IN-COMM education by living and participating in authentic Christian community within
                their core group of 30 students. Students are housed in either traditional dorm rooms, or 2-3 bedroom
                apartment-style dormitories. Rooms are furnished with standard dorm-room furniture, and residents on each
                floor share a student common area and shower facilities.
              </p>
            </div>
            <figure class="col-md-6 image">
              <%= image_tag 'student_life/student_housing.jpg', class:'img-responsive img-rounded', alt:'authentic community image' %>
            </figure>
          </div>

        </div>

      </div>
    </div>

  </div>
</section>

<section id="first-option">
  <div class="container">

    <div class="row header">
      <div class="col-md-12">
        <h2>Student life is a vital component of your college core experience.</h2>
      </div>
    </div>

    <div class="row feature">
      <div class="col-md-6 info">
        <h4>Attend cultural events.  It's part of our curriculum.</h4>
        <p>
          Every semester students participate in one or more formal evening events. Students dress in proper attire,
          entertain an escort, dine at an upscale restaurant, and attend a sophisticated cultural event such as an opera,
          symphony or play.
        </p>
        <p>
          Past cultural events include:  <em>Camelot</em>, <em>Les Miserables</em>,
          <em>Phantom of the Opera</em>, and <em>Mid Summer Night's Dream</em>
        </p>
      </div>
      <figure class="col-md-6 image">
        <%= image_tag 'student_life/cultural_events.jpg', class:'img-responsive img-rounded', alt:'life skills education image' %>
      </figure>
    </div>

    <div class="row feature backwards">
      <div class="col-md-6 info">
        <h4>Health and fitness.  They're also part of our curriculum.</h4>
        <p>
          Part of the our program involves getting students out of their chairs and away from their books. Students
          participate in a variety of sports such as basketball, volleyball, ultimate Frisbee, dodge-ball, flag football,
          and soccer. If intramural sports are not your thing, various student-organized exercise regimens such as running,
          walking, hiking, biking, and aerobics are also available. Either way, the object is to get the heart pumping in an
          effort to lead a healthier, happier life.
        </p>
      </div>
      <figure class="col-md-6 image">
        <%= image_tag 'student_life/health_fitness.jpg', class:'img-responsive img-rounded', alt:'holy healthy living image' %>
      </figure>
    </div>

    <div class="row feature">
      <div class="col-md-6 info">
        <h4>Enjoy the amenities of SDC's Minnesota Campus.</h4>
        <p>
          Our campus gymnasium features basketball, volleyball, and racquetball courts, as well as a weight room with both free weights and nautilus equipment.
          It is complete with men’s and women’s locker rooms and showers.
          The gym provides students with a great place to exercise, especially when the winter weather arrives.
        </p>
      </div>
      <figure class="col-md-6 image">
        <%= image_tag 'student_life/amenities.jpg', class:'img-responsive img-rounded', alt:'holy healthy living image' %>
      </figure>
    </div>

  </div>
</section>

<section id="cta">
  <div class="container">

    <%= render 'shared/apply_cta' %>

  </div>
</section>