<div id="tabs" class="tabs-smaller-margin">
  <div class="container">

    <div class="row header">
      <h3>Student Life at SDC Rivendell</h3>
      <p>We prepare students for life, not just a job.</p>
    </div>

    <div class="row">
      <div class="col-md-12 tabs-wrapper">

        <ul class="nav nav-tabs">
          <%= content_tag :li, link_to('Academic Facilities', '#academic-facilities', data: { toggle:'tab' }), class:'active' %>
          <%= content_tag :li, link_to('Dining Facilities', '#dining-facilities', data: { toggle:'tab' }) %>
          <%= content_tag :li, link_to('Student Housing', '#student-housing', data: { toggle:'tab' }) %>
        </ul>

        <div class="tab-content">

          <div id="academic-facilities" class="tab-pane fade in active">  <!-- ACADEMIC FACILITIES -->
            <div class="col-md-6 info">
              <h4>Your classroom ...(need ending)</h4>
              <p>
                Need a teaser paragraph about the socratic classroom and the 'world is your classroom.'
              </p>
            </div>
            <div class="col-md-6 image">
              <%= holder_tag '359x322', 'academic facilities', {}, class:'img-responsive' %>
            </div>
          </div>

          <div id="dining-facilities" class="tab-pane fade">  <!-- DINING FACILITIES -->
            <div class="col-md-6 image">
              <%= holder_tag '359x322', 'dining facilities', {}, class:'img-responsive' %>
            </div>
            <div class="col-md-6 info">
              <h4>Break bread with your classmates ...(need edit)</h4>
              <p>
                Need a teaser paragraph about the how we eat dinner as a community.
              </p>
            </div>
          </div>

          <div id="student-housing" class="tab-pane fade">  <!-- STUDENT HOUSING -->
            <div class="col-md-6 info">
              <h4>Live in community...(need ending)</h4>
              <p>
                Need a teaser paragraph about student housing.
              </p>
            </div>
            <div class="col-md-6 image">
              <%= holder_tag '359x322', 'student housing', {}, class:'img-responsive' %>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<div id="first-option">
  <div class="container">

    <div class="row header">
      <div class="col-md-12">
        <h2>Looking for a college where student life is part of the curriculum?</h2>
        <p>Student life is a vital component part of your SDC Rivendell experience.</p>
      </div>
    </div>

    <div class="row feature">
      <div class="col-md-6 info">
        <h4>Attend cultural events.  It's part of our curriculum.</h4>
        <p>
          Every semester students participate in one or more formal evening events. Students dress in proper attire,
          entertain an escort, dine at an upscale restaurant, and attend a sophisticated cultural event such as an opera,
          symphony or play.
        </p>
        <p>
          Past cultural events include:  <em>Camelot</em>, <em>Once</em>,
          <em>Beauty and the Beast</em>, and <em>Mid Summer Night's Dream</em>
        </p>
      </div>
      <div class="col-md-6 image">
        <%= holder_tag '402x222', 'cultural events image (404x222)', {}, class:'img-responsive' %>
      </div>
    </div>

    <div class="row feature backwards">
      <div class="col-md-6 info">
        <h4>Health and fitness.  They're also part of our curriculum.</h4>
        <p>
          Part of the SDC Rivendell program involves getting students out of their chairs and away from their books. Students
          participate in a variety of sports such as basketball, volleyball, ultimate Frisbee, dodge-ball, flag football,
          and soccer. If intramural sports are not your thing, various student-organized exercise regimens such as running,
          walking, hiking, biking, and aerobics are also available. Either way, the object is to get the heart pumping in an
          effort to lead a healthier, happier life.
        </p>
      </div>
      <div class="col-md-6 image">
        <%= holder_tag '402x222', 'health & fitness image (404x222)', {}, class:'img-responsive' %>
      </div>
    </div>

    <div class="row feature">
      <div class="col-md-6 info">
        <h4>Enjoy the amenities of SDC's Minnesota Campus.</h4>
        <p>
          Our campus gymnasium features basketball, volleyball, and racquetball courts, as well as a weight room with both free weights and nautilus equipment.
          It is complete with men’s and women’s locker rooms, showers, and even a kitchen.
          The gym provides students with a great place to exercise, especially when the winter weather arrives.
        </p>
      </div>
      <div class="col-md-6 image">
        <%= holder_tag '402x222', 'extra-curricular image (404x222)', {}, class:'img-responsive' %>
      </div>
    </div>

  </div>
</div>

<div id="cta">
  <div class="container">

    <%= render 'shared/apply_cta' %>

  </div>
</div>