<section id="first-option">
  <div class="container">

    <div class="row header student-life-header">
      <div class="col-md-12">
        <h2>Student Life: Reinventing the Classroom</h2>
        <p>Our classrooms are dynamic because you are dynamic.  We shape our learning spaces to encourage your formation as a <em>whole person.</em>  Get outside the four walls of your monotonous classroom; enough with rectilinear rows and the back of people’s heads — at Rivendell, our faculty show no fear when it comes to practicing creativity within the classroom.</p>
        <p>You ask why?  We understand that we are educating a person, not merely a brain.  Therefore, we educate you to live a lifestyle that encapsulates more than just schoolwork.  Below, you will see a number of categories that we consider ‘our classroom.’   Studies have shown that focus, retention, creativity, and student grades skyrocket when the monotony of ineffective learning styles are discarded. We can attest to the power of this holistic approach.  Eager learners, creative problem solvers, and students of honor are produced in dynamic, integrated classrooms.  Once again, education regains its soul.</p>
      </div>
    </div>

    <div class="row feature">
      <div class="col-md-6 info">
        <h4>Traditional Classroom:</h4>
        <p>
          In what many call our “traditional” classroom, we are not so traditional.  For centuries, our pedagogies have been stuck on a classroom model developed during the industrial revolution.  Students are products to grasp, retain, regurgitate, and repeat.  In our classrooms, we encourage a graduate style of learning that involves discussion, analysis, synthesis, and evaluation.  We might take class to coffee shops, forest trials, or a retreat cabin in the woods.  If we stay in the classroom, we encourage face to face interaction amidst the whole class with our “socratic circle” model complete with couches, barcaloungers, desks, and a coffee bar.
        </p>
      </div>
      <figure class="col-md-6 image">
        <%= image_tag 'student_life/traditional_classroom.jpg', size:'359x322', class:'img-responsive img-rounded', alt:'Traditional classroom image' %>
      </figure>
    </div>

    <div class="row feature backwards">
      <div class="col-md-6 info">
        <h4>Social Classroom:</h4>
        <p>
          Without character, any attempt to educate an individual will fall brutally short.  That is why students learn to socially apply their knowledge with an others-orientation rather than focusing on the self.  In the social classroom, students learn what it means to become creatively altruistic through allocated service events for their classmates, cohorts, and communities.

        </p>
        <p> <em>“We must remember that intelligence is not enough. Intelligence plus character--that is the goal of true education.”  ~MLK </em> </p>
      </div>
      <figure class="col-md-6 image">
        <%= image_tag 'student_life/Community_service.jpg', class:'img-responsive img-rounded', alt:'holy healthy living image' %>
      </figure>
    </div>

    <div class="row feature">
      <div class="col-md-6 info">
        <h4>Spiritual Classroom:</h4>
        <p>
          Now, more than ever, our culture is need of spiritual leaders who define themselves not by what they do, but who they are — image bearers of God.  Taking this into account, all learning takes place considering the divine author of all things true, good, and beautiful.  Students will engage together spiritually, spurring one another to go deeper in reading, prayer, and meditation.
        </p>
        <p><em>The desperate need today is not for a greater number of intelligent people, of gifted people, but for deep people. ~Richard Foster
        </em></p>
      </div>
      <figure class="col-md-6 image">
        <%= image_tag 'student_life/Spiritual-prayer.jpg', class:'img-responsive img-rounded', alt:'holy healthy living image' %>
      </figure>
    </div>

    <div class="row feature backwards">
      <div class="col-md-6 info">
        <h4>Cultural Classroom:</h4>
        <p>
          Education must nourish the mind, yes, but it must also nourish the soul.   That is why it is vital to touch the palate of our students in our cultural classroom with those things which are truly beautiful.  Regularly attend cultural events, broadway shows, and orchestra productions;  learn to be wholesomely winsome during recurrent lifeskills events; and finish your time by immersing yourself in Italy during a five weeks extensive arts course, developing a connoisseurs eye for the most spectacular pieces known to man.

        </p>
        <p> <em>“We do not want merely to see beauty... we want something else which can hardly be put into words- to be united with the beauty we see, to pass into it, to receive it into ourselves, to bathe in it, to become part of it…” C.S. Lewis </em> </p>
      </div>
      <figure class="col-md-6 image">
        <%= image_tag 'student_life/Culturalevent.jpg', class:'img-responsive img-rounded', alt:'life skills education image' %>
      </figure>
    </div>

    <div class="row feature">
      <div class="col-md-6 info">
        <h4>Physical Classroom:</h4>
        <p>
          To deny the body is to deny the mind.  This not only includes our fitness levels; learning should consider the psychological consequences of our learning spaces, nature of dress, amount of sleep, how we eat, and more.  Humans are psychosomatic creatures — beings of body and spirit — therefore, to deny the physical classroom will affect your ability to serve God and our neighbor.  How can we hope to carry our neighbors baggage if someone has to carry ours?  At Rivendell, we encourage active engagement in our physical classroom to bolster our students’ motivation, mobility, strength, and stamina.
        </p>
      </div>
      <figure class="col-md-6 image">
        <%= image_tag 'student_life/Holy_Healthy.jpg', class:'img-responsive img-rounded', alt:'holy healthy living image' %>
      </figure>
    </div>

  </div>
</section>

<section id="cta">
  <div class="container">

    <%= render 'shared/visit_cta' %>

  </div>
</section>