<div class="footer-content">

  <div class="container">

    <div class="row">

      <div class="footer-col col-md-3 col-sm-4 about">
        <div class="footer-col-inner">
          <h3>About</h3>
          <ul id="footer-nav">
            <%= content_tag :li, link_to(icon('caret-right', 'About Rivendell Program'), about_path) %>
            <%= content_tag :li, link_to(icon('caret-right', 'About San Diego Christian'), @sdc_url, target:'_blank') %>
            <%= content_tag :li, link_to(icon('caret-right', 'About WASC'), @wasc_url, target:'_blank') %>
            <%= content_tag :li, link_to(icon('caret-right', 'Contact us'), new_contact_path) %>
          </ul>
        </div>
      </div>

      <div class="footer-col col-md-6 col-sm-8 newsletter">
        <div class="footer-col-inner">
          <h3>Join our mailing list</h3>
          <p>Subscribe to get our weekly newsletter delivered directly to your inbox</p>
          <form class="subscribe-form">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter your email" />
            </div>
            <input class="btn btn-theme btn-subscribe" type="submit" value="Subscribe">
          </form>
          <!-- TODO:  BUILD SUBSCRIPTION FORM -->
        </div>
      </div>

      <div class="footer-col col-md-3 col-sm-12 contact">
        <div class="footer-col-inner">
          <h3>Contact us</h3>
          <div class="row">
            <p class="adr clearfix col-md-12 col-sm-4">
              <%= icon('map-marker', nil, class:'pull-left') %>
              <span class="adr-group pull-left">
                <span class="street-address"><%= @company_name %></span><br>
                <span class="street-address">6820 Auto Club Road</span><br>
                <span class="street-address">Suite T</span><br>
                <span class="postal-code">Bloomington, MN  55438</span><br>
                <span class="country-name">USA</span>
              </span>
            </p>
            <p class="tel col-md-12 col-sm-4"><%= icon('phone', @phone_number) %></p>
            <p class="email col-md-12 col-sm-4">
                <%= icon('envelope') %>
                <%= mail_to @inquiry_email %>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="bottom-bar">
  <div class="container">
    <div class="row">
      <small class="copyright col-md-6 col-sm-12 col-xs-12">
        Copyright &copy; 2015 Rivendell Education Company | Website by <%= link_to 'Red Sherpa LLC', 'http://www.sherpa.red', target:'_blank' %>
      </small>
      <ul id="social-nav-bottom" class="social pull-right col-md-6 col-sm-12 col-xs-12">
        <%= content_tag :li, link_to(icon('google-plus'), @google_plus_url, target:'_blank') %>
        <%= content_tag :li, link_to(icon('pinterest'), @pinterest_url, target:'_blank') %>
        <%= content_tag :li, link_to(icon('facebook'), @facebook_url, target:'_blank') %>
        <%= content_tag :li, link_to(icon('twitter'), @twitter_url, target:'_blank') %>
      </ul>
    </div>
  </div>
</div>
