<div class="footer">

    <div class="small-footer-backimage">

        <%= image_tag('svgs/footer-cut.svg') %>

    </div>

    <div class="footer-links left-links">

        <h3>KEY LINKS</h3>

        <span><a href="">The Five Pursuits</a></span>

        <span><a href="">Our Program</a></span>

        <span><a href="">Admissions</a></span>

        <span><a href="">Careers</a></span>

        <span><a href="">Donate</a></span>

    </div>

    <div class="footer-links right-links">

        <h3>STUDENT INFO</h3>

        <span><a href="">Academic Calendar</a></span>

        <span><a href="">Tuition & Fees</a></span>

        <span><a href="">Financial Aid</a></span>

        <span><a href="">Deadlines</a></span>

        <span><a href="">Visit Us</a></span>

    </div>

    <div id="return-to-top">

        <div class="to-top-caret">^</div>

        <span>return to top</span>

    </div>

    <div class="social-icons">

        <a href="<%= @twitter_url %>" class="icon"><span class="fa-twitter"></span></a>

        <a href="<%= @facebook_url %>" class="icon"><span class="fa-facebook"></span></a>

        <a href="<%= @pinterest_url %>" class="icon"><span class="fa-pinterest"></span></a>

        <a href="<%= @google_plus_url %>" class="icon"><span class="fa-google-plus"></span></a>

    </div>

    <div class="copyright">

        <span>Copyright &copy; 2015 Rivendell Education Company</span>

        <span class="separator"></span>

        <span>Website by <a href="http://sherpa.red">Red Sherpa LLC</a></span>

    </div>

</div>