<div class="row">

  <div class="col-sm-6 menu">
    <ul>
      <%= content_tag :li, link_to('About', about_path) %>
      <%= content_tag :li, link_to('5-Pursuits', '#') %>
      <%= content_tag :li, link_to('Student Life', '#') %>
      <%= content_tag :li, link_to('Admissions', '#') %>
    </ul>
  </div>

  <div class="col-sm-6 copyright">
    Copyright &copy; Rivendell Education Company | Website by <%= link_to 'Red Sherpa', 'http://www.sherpa.red', target:'_blank' %>
  </div>

</div>