<div class="row">

  <div class="col-sm-3 menu">

    <h3>Overview</h3>
    <ul>
      <%= content_tag :li, link_to('Leadership', about_path) %>
      <%= content_tag :li, link_to('Faculty', about_path) %>
      <%= content_tag :li, link_to('Curriculum', academics_path) %>
    </ul>

  </div>

  <div class="col-sm-3 menu">

    <h3>Menu</h3>
    <ul>
      <%= content_tag :li, link_to('About', about_path) %>
      <%= content_tag :li, link_to('Academics', academics_path) %>
      <%= content_tag :li, link_to('Student Life', student_life_path) %>
      <%= content_tag :li, link_to('Admissions', admissions_path) %>
      <%= content_tag :li, link_to('Contact us', new_contact_path) %>
    </ul>

  </div>

  <div class="col-sm-3 menu">

    <h3>Social</h3>
    <ul>
      <%= content_tag :li, link_to('Twitter', @twitter_url) %>
      <%= content_tag :li, link_to('Facebook', @facebook_url) %>
      <%= content_tag :li, link_to('Pinterest', @pinterest_url) %>
      <%= content_tag :li, link_to('YouTube', @youtube_url) %>
    </ul>

  </div>

  <div class="col-sm-3 menu">

    <h3>Industry Friends</h3>
    <ul>
      <%= content_tag :li, link_to('Rivendell Scholarship Fund', 'http://www.takebackeducation.org', target:'_blank') %>
      <%= content_tag :li, link_to('Classical Conversations', 'https://www.classicalconversations.com/articles', target:'_blank') %>
      <%= content_tag :li, link_to('Summit Ministries', 'http://www.summit.org/blogs/the-presidents-desk/', target:'_blank') %>
      <%= content_tag :li, link_to('BreakPoint', 'http://thepoint.breakpoint.org/tp-home', target:'_blank') %>
    </ul>

  </div>

</div>

<div class="row credits">

  <div class="col-md-12">
    Copyright &copy; 2015 | Website by
    <%= link_to 'Red Sherpa', 'http://www.sherpa.red', target:'_blank' %>
  </div>

</div>