<div class="container">

  <div class="navbar-header">

    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

  </div>

  <div class="navbar-collapse collapse" id="navbar-collapse">

    <ul class="nav navbar-nav">

      <li id="journey-nav" class="<%= current_branch('journey') %> nav-item dropdown">    <!-- JOURNEY MENU SECTION -->

        <%= link_to nil, class:'dropdown-toggle', data: { toggle:'dropdown', hover:'dropdown', delay:'0' } do %>
            your journey  <%= icon('angle-down') %>
        <% end %>

        <ul class="dropdown-menu">
          <%= nav_link_to 'Start here', journey_path, {}, { wrapper:'li' } %>
          <%= nav_link_to 'First term', journey_term1_path, {}, { wrapper:'li' } %>
          <%= nav_link_to 'Second term', journey_term2_path, {}, { wrapper:'li' } %>
          <%= nav_link_to 'Third term', journey_term3_path, {}, { wrapper:'li' } %>
          <%= nav_link_to 'Last term', journey_term4_path, {}, { wrapper:'li' } %>
        </ul>

      </li>

      <li id="seeking-truth-nav" class="<%= current_branch('seeking_truth') %> nav-item dropdown">    <!-- SEEKING TRUTH MENU SECTION -->

        <%= link_to '#', class:'dropdown-toggle', data: { toggle:'dropdown', hover:'dropdown', delay:'0' } do %>
            seeking truth  <%= icon('angle-down') %>
        <% end %>

        <ul class="dropdown-menu">
          <%= content_tag :li, link_to('Start here', seeking_truth_path) %>
          <%= content_tag :li, link_to('Pedagogy', seeking_truth_pedagogy_path) %>
          <%= content_tag :li, link_to('Curriculum', seeking_truth_curriculum_path) %>
          <%= content_tag :li, link_to('Courses', '#') %>  <!-- TODO:  add courses resources -->
        </ul>

      </li>

      <li id="building-character-nav" class="<%= current_branch('building_character') %> nav-item dropdown">    <!-- BUILDING CHARACTER MENU SECTION -->

        <%= link_to '#', class:'dropdown-toggle', data: { toggle:'dropdown', hover:'dropdown', delay:'0' } do %>
            building character  <%= icon('angle-down') %>
        <% end %>

        <ul class="dropdown-menu">
          <%= content_tag :li, link_to('Start here', building_character_path) %>
          <%= content_tag :li, link_to('Residential living', building_character_residential_living_path) %>
          <%= content_tag :li, link_to('Experiential learning', building_character_experiential_learning_path) %>
          <%= content_tag :li, link_to('Sacrificial loving', building_character_sacrificial_loving_path) %>
        </ul>

      </li>

      <li id="admissions-nav" class="<%= current_branch('admissions') %> nav-item dropdown">    <!-- ADMISSIONS MENU SECTION -->

        <%= link_to '#', class:'dropdown-toggle', data: { toggle:'dropdown', hover:'dropdown', delay:'0' } do %>
            admissions  <%= icon('angle-down') %>
        <% end %>

        <ul class="dropdown-menu">
          <%= content_tag :li, link_to('Start here', admissions_path) %>
          <%= content_tag :li, link_to('Student attributes', admissions_student_attributes_path) %>
          <%= content_tag :li, link_to('Process', admissions_admin_process_path) %>
          <%= content_tag :li, link_to('Tuition & fees', admissions_tuition_path) %>
          <%= content_tag :li, link_to('Financial aid', admissions_financial_aid_path) %>
          <%= content_tag :li, link_to('Apply now', admissions_apply_now_path) %>
        </ul>

      </li>

    </ul>

  </div>

</div>