<div class="container">

  <div class="navbar-header">

    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

  </div>

  <div class="navbar-collapse collapse" id="navbar-collapse">

    <ul class="nav navbar-nav">

      <li class="nav-item dropdown">    <!-- JOURNEY MENU SECTION -->

        <%= link_to '#', class:'dropdown-toggle', data: { toggle:'dropdown', hover:'dropdown', delay:'0' } do %>
            Your Journey  <%= icon('angle-down') %>
        <% end %>

        <ul class="dropdown-menu">
          <%= content_tag :li, link_to('Start here', journey_path) %>
          <%= content_tag :li, link_to('First term', journey_term1_path) %>
          <%= content_tag :li, link_to('Second term', journey_term2_path) %>
          <%= content_tag :li, link_to('Third term', journey_term3_path) %>
          <%= content_tag :li, link_to('Last term', journey_term4_path) %>
        </ul>




      </li>





    </ul>


  </div>

</div>