<!DOCTYPE html>

<html>

<head>
  <%= render 'layouts/head' %>
</head>

<body>

    <div class="wrapper">

        <!-- HEADER -->
        <header class="header">
            <%= render 'layouts/header' %>
        </header>

        <!-- NAV -->
        <nav class="main-nav" role="navigation">
            <%= render 'layouts/main_nav' %>
        </nav>

        <!-- CONTENT -->
        <div class="content container">

          <div class="page-wrapper">

            <header class="page-heading clearfix">
              <h1 class="heading-title pull-left"><%= @page_title %></h1>
              <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                  <li class="breadcrumbs-label">You are here:</li>
                  <li>
                    <%= link_to 'Home', root_path %>
                    <%= icon('angle-right') %>
                  </li>
                  <% if @section_crumb %>
                      <li>
                        <%= link_to @section_crumb.capitalize, "/#{@section_crumb}"  %>
                        <%= icon('angle-right') %>
                      </li>
                  <% end %>
                  <%= content_tag :li, @page_title %>
                </ul>
              </div>
            </header>

            <div class="page-content">
              <div class="row page-row">

                <article class="col-md-8 col-sm-7 <%= @page_class %>">
                  <%= yield %>
                </article>

                <aside class="page-sidebar col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                  <%= render "shared/#{@sidebar}_sidebar" if @sidebar %>
                </aside>

              </div>
            </div>

          </div>

        </div>

    </div>

    <footer class="footer">
      <%= render 'layouts/footer' %>
    </footer>

    <%= debug(params) if Rails.env.development? %>

</body>

</html>

