<!doctype html>
<html>
    <head>
        <%= render 'layouts/head' %>
    </head>
    <body>
        <div class="container">
            <!-- Push Wrapper -->
            <div class="mp-pusher" id="mp-pusher">

                <!-- mp-menu -->
                <%= render 'layouts/main_nav' %>
                <!-- /mp-menu -->

                <div class="scroller"><!-- this is for emulating position fixed of the nav -->
                    <div class="scroller-inner">

                        <%= render 'layouts/header' %>

                        <%= yield %>

                        <%= render 'layouts/footer' %>

                    </div><!-- /scroller-inner -->
                </div><!-- /scroller -->

            </div><!-- /pusher -->
        </div><!-- /container -->
        <%= debug params if Rails.env.development? %>
    </body>
</html>