<!DOCTYPE html>

<html>

<head>
  <%= render 'layouts/head' %>
</head>

<body>

    <div class="wrapper">

        <!-- HEADER -->
        <header class="header">
            <%= render 'layouts/header' %>
        </header>

        <!-- NAV -->
        <nav class="main-nav" role="navigation">
            <%= render 'layouts/main_nav' %>
        </nav>

        <!-- CONTENT -->
        <div class="content container">

          <div class="page-wrapper">

            <header class="page-heading clearfix">
              <h1 class="heading-title pull-left"><%= @page_title %></h1>
              <div class="breadcrumbs pull-right">
                <%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder %>
              </div>
            </header>

            <div class="page-content">
              <div class="row page-row">

                <article class="welcome col-md-8 col-sm-7">
                  <%= yield %>
                </article>

                <aside class="page-sidebar col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                  <%= render 'sidebar' %>
                </aside>

              </div>
            </div>

          </div>

        </div>

    </div>

    <footer class="footer">
      <%= render 'layouts/footer' %>
    </footer>

    <%= debug(params) if Rails.env.development? %>

</body>

</html>

